#main{
text-align:center;
  height:10px;
  color:#cc0099;
}
#image{
  width:30%;
  border:3px solid #990099;
}

#desc{
  text-align:justify;
  width:60%;
background-color:black;
color:white;
font-style:italic;
font-weight:bold;
font-size:14px;
}
